<!DOCTYPE html>
<html>
<head>
  <title> <%= titulo %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/jpg" href="ico.jpg" />
  <link href='http://fonts.googleapis.com/css?family=Belleza&subset=latin,latin-ext' rel='stylesheet' type='text/css'></link>
  <script type="text/javascript" >
    function ocultar(){
      obj = document.getElementsByName("eliminarpost");
      for (x = 0; x < obj.length; x++){
        obj[x].style.display = "none";
      }
      
    }

    function mostrarLinkEliminar(id){
      numero = id.substring(4);
      divocultar = "elim" + numero;
      div = document.getElementById(divocultar);
      div.style.display = 'inline';
    }

    function ocultarLinkEliminar(id){
      numero = id.substring(4);
      divocultar = "elim" + numero;
      div = document.getElementById(divocultar);
      div.style.display = 'none';
    }

    function cuenta(){
      var texto = document.getElementById("area_post");
      var label = document.getElementById("cant_caracteres");
      label.value = 140 - texto.value.length;
      if (label.value < 11){
        label.style.color = "#ff0000";
      } else{
        label.style.color = "#808080";
      }
    }
  </script>

</head>
<body onload="ocultar();">
<%= render 'layouts/header' %>

    <%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>